<div class="modalWrapper">
    <div class="modalContent boxWhite">
        <p ng-show="message.heading" class="title">{{ message.heading }}</p>
        <p ng-show="message.headingImg"><img draggable="false"  ng-src="{{ message.headingImg }}" alt="" /></p>
        <div style="border:#b0afaf 1px solid; padding:2px; background:#e6e6e6;border-radius:20px;margin:0 auto 20px;width:330px;">
            <div class="progress progress-waring progress-striped active" style="width:330px;border-radius:20px; margin:0;">
                <div class="bar bar-warning" style="width: 100%;"></div>
            </div>
        </div>
    </div>
</div>