<!-- Header -->
<div id="header">
	<!-- Logo -->
	<h1 id="logo"><a title="Home" href="#">accessories store</a></h1>
	<p class="shopping-cart"><a class="cart" href="#" title="Your Shopping Cart">{{ pageConfig.shoppingcart }}</a><span>Articles:</span>&nbsp;4<span>Cost:</span>&nbsp;$59.99</p>					
	<!-- Search -->
	<div class="search-expand"></div>
	<div id="search">
		<div class="retract-button">
			<p>retract</p>
		</div>
		<form action="" method="post">
			<input type="text" class="field" value="Search" title="Search" />
			<input type="submit" value="" class="submit-button" />
		</form>						
	</div>
	<!-- END Search -->
	<div class="cl"></div>
	<!-- Navigation -->
	<div id="navigation">
		<nav data=""></nav>
	</div>	
	<div class="cl"></div>				
	<!-- END Navigation -->
	<div class="cl"></div>
</div>
<!-- END Header -->
<!-- Signup -->
<div id="main" style="min-height: 750px;">
	<!-- Featured Products -->
<div class="products-holder">
	<div class="top"></div>
	<div class="middle">													
		<div class="label">
			<h3>Insert Youe Email</h3>									
		</div>
		<div class="cl"></div>	
		<div style="width: 650px;
		margin: 10px auto 0px auto;

padding: 20px;">
	<div style="text-align:center;">
		<div class="field-holder" style="margin: 0 auto;">
			<input type="text" class="field" style="text-align:center;" placeholder="Email for Statement" title="Email" />
		</div>
		<div class="wrapperbutton" style="width:500px;">
			<input class="confirmbutton" name="submit" id="submit" tabindex="5" value="Send me the statement" type="button">
			<input class="cancelbutton" name="cancel" id="cancel" tabindex="5" value="I'm change my mind" type="button">
		</div>
	</div>
		
		</div>
		
			</div>
		<div class="cl"></div>
	</div>
	<div class="bottom"></div>									
</div>
<!-- END Featured Products -->
</div>
<!-- END Signup -->