<!-- Header -->
<div id="header">
	<!-- Logo -->
	<h1 id="logo"><a title="Home" href="#">accessories store</a></h1>
	<p class="shopping-cart"><a class="cart" href="#" title="Your Shopping Cart">{{ pageConfig.shoppingcart }}</a><span>Articles:</span>&nbsp;4<span>Cost:</span>&nbsp;$59.99</p>					
	<!-- Search -->
	<div class="search-expand"></div>
	<div id="search">
		<div class="retract-button">
			<p>retract</p>
		</div>
		<form action="" method="post">
			<input type="text" class="field" value="Search" title="Search" />
			<input type="submit" value="" class="submit-button" />
		</form>						
	</div>
	<!-- END Search -->
	<div class="cl"></div>
	<!-- Navigation -->
	<div id="navigation">
		<ul>
			<li><a title="Home" href="#">Home</a></li>
			<li><a title="Sales" href="#">Sales</a></li>
			<li><a title="Catalog" ng-click="navigateToMenu('catalog')">Catalog</a></li>
			<li><a title="Blog" href="#">Blog</a></li>
			<li><a title="Sign Up" ng-click="navigateToMenu('signup')">Sign up</a></li>							
		</ul>						
	</div>	
	<div class="cl"></div>				
	<!-- END Navigation -->
	<!-- Dropdown Navigation -->
	<div id="sort-nav">			
		<catalog data=""></catalog>			
	</div>					
	<!-- END Dropdown Navigation -->
	<div class="cl"></div>
</div>
<!-- END Header -->
<!-- Main -->
<div id="main">
	<!-- Slider -->
	<div class="slider-holder">
		<div class="promo">
			<img src="../images/promo.jpg" alt="Big Sale This Week -30% OFF!" />
		</div>
		<slider data=""></slider>
	</div>		
	<!-- END Slider -->
	<!-- Content -->
	<div id="content">
		<feature-products data=""></feature-products>
		<best-seller data=""></best-seller>
		<!-- Bottom Strip -->
		<div class="bottom-strip">
			<div class="box-holder left">
				<div class="box">
					<div class="top"></div>										
					<div class="label">
						<h3>About Us</h3>																			
					</div>
					<div class="middle">
						<div class="text-widget">
							<p><strong>Mauris euismod lorem </strong>at mauris gravida tincidunt. Maecenas purus arcu, luctus at suscipit tempor, pharetra et urna. Quisque molestie purus sit amet ligula varius a adipiscing ligula molestie. Morbi fermentum lobortis turpis mattis bibendum. In hac habitasse platea </p>
						</div>	
						<a class="read-more" title="Read More" href="#">Read More</a>
					</div>	
					<div class="bottom"></div>									
				</div>
			</div>
			<div class="box-holder middle">
				<div class="box">
					<div class="top"></div>									
					<div class="label">									
						<h3>Newsletter</h3>																		
					</div>
					<div class="middle" id="newsletter">
						<div class="post">
							<p><span>Subscribe to our newsletter</span></p>
							<p>Praesent et ultrices turpis. Donec at est vel neque dictum aliquet.</p>
						</div>
						<div class="cl"></div>
						<form action="" method="post">
							<div class="field-holder"><input type="text" class="field" value="Your Email" title="Your Email" /></div>
							<div class="field-holder"><input type="text" class="field" value="Your Name" title="Your Name" /></div>
							<div class="submit-button"><input type="submit" value="Subscribe" /></div>
						</form>
						<div class="cl">&nbsp;</div>											
					</div>
					<div class="bottom"></div>
				</div>
			</div>
			<div class="box-holder right">
				<div class="box">
					<div class="top"></div>										
					<div class="label">										
						<h3>Latest Posts</h3>																				
					</div>
					<div class="middle post-short">
						<div class="post">
							<p><span>Aenean placerat</span></p>
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae tellus t turpisporttitor pulvinar ...</p>
							<a class="comments" href="#" title="comments">comments</a>
						</div>
						<div class="date-box">
							<p class="date">05.26</p>
							<p>2011</p>
						</div>
						<div class="cl"></div>
					</div>	
					<div class="bottom"></div>									
				</div>
			</div>
			<div class="cl"></div>
		</div>
		<!-- END Bottom Strip -->
	</div>
	<!-- END Content -->
</div>
<!-- END Main -->