<!-- Header -->
<div id="header">
	<cart-detail meta="pageConfig"></cart-detail>			
	<search-box></search-box>
	<div class="cl"></div>
	<!-- Navigation -->
	<div id="navigation">
		<nav data=""></nav>
	</div>		
	<div class="cl"></div>				
	<!-- END Navigation -->
	<div class="cl"></div>
</div>
<!-- END Header -->
<!-- Signup -->
<div class="object-wrapper">
	<!-- Featured Products -->
<div class="object">
	<div class="top"></div>
	<div class="middle">													
		<div class="label">
			<h3>Product Detail</h3>									
		</div>
		<div class="cl"></div>	
		<div class="product">																										
			<a title="Details" ><img src="../images/paperclip.jpg" alt="paperclip" /></a>
			<div class="desc">
				<p class="name">Product Name</p>
				<p>Model: <span>XR-34</span></p>
				<p>Peaces in Box: <span>12</span></p>
				<p>Product code: <span>1215</span></p>
			</div>	
			<div class="price-box">
				<p>$<span class="price"> 01<sup>.69</sup></span></p>
				<p class="per-peace">Per Peace</p>
			</div>
			<div class="cl"></div>																														
		</div>
		<div class="product-detail">
			<h3>Product Detail</h3>
			<span>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</span>
		</div>
		<div class="product-button">
			<div class="wrapperbutton">
				<input class="confirmbutton" name="submit" id="submit" tabindex="5" value="Add to cart" type="button">
				<input class="cancelbutton" name="cancel" id="cancel" tabindex="5" value="Nope" type="button">
			</div>
		</div>
		<div class="cl"></div>
	</div>
	<div class="bottom"></div>									
</div>
<!-- END Featured Products -->
</div>
<!-- END Signup -->