<!-- Header -->
<div id="header">
	<!-- Logo -->
	<h1 id="logo"><a title="Home" href="#">accessories store</a></h1>
	<p class="shopping-cart"><a class="cart" href="#" title="Your Shopping Cart">{{ pageConfig.shoppingcart }}</a><span>Articles:</span>&nbsp;4<span>Cost:</span>&nbsp;$59.99</p>					
	<!-- Search -->
	<div class="search-expand"></div>
	<div id="search">
		<div class="retract-button">
			<p>retract</p>
		</div>
		<form action="" method="post">
			<input type="text" class="field" value="Search" title="Search" />
			<input type="submit" value="" class="submit-button" />
		</form>						
	</div>
	<!-- END Search -->
	<div class="cl"></div>
	<!-- Navigation -->
	<div id="navigation">
		<ul>
			<li><a title="Home" href="#">Home</a></li>
			<li><a title="Sales" href="#">Sales</a></li>
			<li><a title="Catalog" ng-click="navigateToMenu('catalog')">Catalog</a></li>
			<li><a title="Blog" href="#">Blog</a></li>
			<li><a title="Sign Up" ng-click="navigateToMenu('signup')">Sign up</a></li>							
		</ul>						
	</div>	
	<div class="cl"></div>				
	<!-- END Navigation -->
	<div class="cl"></div>
</div>
<!-- END Header -->
<!-- Signup -->
<div id="main" style="min-height: 750px;">
	<!-- Featured Products -->
<div class="products-holder">
	<div class="top"></div>
	<div class="middle">													
		<div class="label">
			<h3>Sign me IN</h3>									
		</div>
		<div class="cl"></div>	
		<div style="width: 650px;
		margin: 10px auto 0px auto;

padding: 20px;">
	<div style="width:300px;margin:0 auto;">
		<p style="font-size:14px;font-weight:bold;margin-bottom:5px;"><label for="email">Email: </label></p> 
		<div class="field-holder">
			<input id="email" class="field" name="email" placeholder="your email?" required="" type="email"> 
		</div>
		<p style="font-size:14px;font-weight:bold;margin-bottom:5px;"><label for="password">Password: </label></p>
		<div class="field-holder">
			<input type="password" class="field" id="password" placeholder="your password?"  name="password" required="">
		</div> 
		<div class="wrapperbutton" style="width:165px;margin: 20px auto 10px auto;">
			<input class="confirmbutton" name="submit" id="submit" tabindex="5" value="login" type="button">
			<input class="cancelbutton" name="cancel" id="cancel" tabindex="5" value="Nope" type="button">
		</div>
	</div>
		
		</div>
		
			</div>
		<div class="cl"></div>
	</div>
	<div class="bottom"></div>									
</div>
<!-- END Featured Products -->
</div>
<!-- END Signup -->