<!-- Best Sellers -->
<div class="products-holder">
	<div class="top"></div>
	<div class="best-sellers middle">									
		<div class="label">								
			<h3>Best Sellers</h3>																		
		</div>
		<div class="cl"></div>
		<!-- Scroll Pane -->
		<div class="left-border"></div>
		<div class="scroll-pane horizontal-only">																
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/paperclip.jpg" alt="paperclip" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>XR-34</span></p>
					<p>Peaces in Box: <span>12</span></p>
					<p>Product code: <span>1215</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 01<sup>.69</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																	
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/pen.jpg" alt="pen" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>PgK</span></p>
					<p>Peaces in Box: <span>100</span></p>
					<p>Product code: <span>3275</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 00<sup>.99</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																									
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/markers.jpg" alt="markers" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>XZ-8</span></p>
					<p>Peaces in Box: <span>48</span></p>
					<p>Product code: <span>1456</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 01<sup>.69</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																	
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/eraser.jpg" alt="eraser" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>small</span></p>
					<p>Peaces in Box: <span>20</span></p>
					<p>Product code: <span>3256</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 00<sup>.29</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/pen.jpg" alt="pen" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>PgK</span></p>
					<p>Peaces in Box: <span>100</span></p>
					<p>Product code: <span>3275</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 00<sup>.99</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																									
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/markers.jpg" alt="markers" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>XZ-8</span></p>
					<p>Peaces in Box: <span>48</span></p>
					<p>Product code: <span>1456</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 01<sup>.69</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																	
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/eraser.jpg" alt="eraser" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>mall</span></p>
					<p>Peaces in Box: <span>20</span></p>
					<p>Product code: <span>3256</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 00<sup>.29</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/markers.jpg" alt="markers" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>XZ-8</span></p>
					<p>Peaces in Box: <span>48</span></p>
					<p>Product code: <span>1456</span></p>
				</div>	
				<div title="Details" class="price-box">
					<p>$<span class="price"> 01<sup>.69</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																	
			</div>
			<div class="product">																														
				<a title="Details" href="#"><img src="../images/eraser.jpg" alt="eraser" /></a>
				<div class="desc">
					<p class="name">Product Name</p>
					<p>Model: <span>mall</span></p>
					<p>Peaces in Box: <span>20</span></p>
					<p>Product code: <span>3256</span></p>
				</div>	
				<div class="price-box">
					<p>$<span class="price"> 00<sup>.29</sup></span></p>
					<p class="per-peace">Per Peace</p>
				</div>																																
			</div>																													
		</div>
		<!-- END Scroll Pane -->
		<div class="right-border"></div>
		<div class="cl"></div>								
	</div>
	<div class="bottom"></div>							
</div>							
<!-- END Best Sellers -->