<!-- Featured Products -->
<div class="products-holder">
	<div class="top"></div>
	<div class="middle">													
		<div class="label">
			<h3>Feature Products</h3>									
		</div>
		<div class="cl"></div>	
		<div class="product" ng-repeat="product in data">	
			<a title="Details" href="#"><img src="{{product.images}}" alt="{{product.imagestitle}}" /></a>
			<div class="desc">
				<p class="name">Product Name</p>
				<p>Model: <span>{{product.name}}</span></p>
				<p>Peaces in Box: <span>12</span></p>
				<p>Product code: <span>{{product.code}}</span></p>
			</div>	
			<div class="price-box">
				<p>$<span class="price"> {{product.price}}</span></p>
				<p class="per-peace">Per Peace</p>
			</div>
			<div class="cl"></div>					
		</div>
		<div class="cl"></div>
	</div>
	<div class="bottom"></div>									
</div>
<!-- END Featured Products -->