<div id="slider">
	<ul>
		<li>
			<img src="../images/slide1.jpg" alt="colour pencils" title="" />
			<div class="caption">
				<h2>Some Tittle Goes Here</h2>
				<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus malesuada lobortis. Sed id lobortis est.</p></div>
				<div class="buy-now">
					<p>BUY NOW</p>
					<p class="price">$<span>0.99</span></p>
				</div>
				<div class="cl"></div>
				<p><strike>$1.29</strike></p>
			</div>
		</li>
		<li>
			<img src="../images/slide2.jpg" alt="pencils"  title=""/>
			<div class="caption">
				<h2>Some  Goes Here</h2>
				<div class="text">
					<p>Lorem  dolor sit amet, consectetur adipiscing elit. Ut tempus malesuada lobortis. Sed id lobortis est.</p></div>
				<div class="buy-now">
					<p>BUY NOW</p>
					<p class="price">$<span>0.99</span></p>
				</div>
				<div class="cl"></div>
				<p><strike>$1.29</strike></p>
			</div>
		</li>
		<li>
			<img src="../images/slide1.jpg" alt="pencils" />
			<div class="caption">
				<h2>Some Tittle Goes Here</h2>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus malesuada lobortis. Sed id lobortis est.</p>
				</div>
				<div class="buy-now">
					<p>BUY NOW</p>
					<p class="price">$<span>0.99</span></p>
				</div>
				<div class="cl"></div>
				<p><strike>$1.29</strike></p>
			</div>
		</li>
		<li>
			<img src="../images/slide2.jpg" alt="pencils" />
			<div class="caption">
				<h2>Some  Goes Here</h2>
				<div class="text">
					<p>Lorem ipsum dolo adipiscing elit. Ut tempus malesuada lobortis. Sed id lobortis est.</p>
				</div>
				<div class="buy-now">
					<p>BUY NOW</p>
					<p class="price">$<span>0.99</span></p>
				</div>
				<div class="cl"></div>
				<p><strike>$1.29</strike></p>
			</div>
		</li>
		<li>
			<img src="../images/slide1.jpg" alt="pencils" />
			<div class="caption">
				<h2>Some Tittle Goes Here</h2>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus malesuada lobortis. Sed id lobortis est.</p>
				</div>
				<div class="buy-now">
					<p>BUY NOW</p>
					<p class="price">$<span>0.99</span></p>
				</div>
				<div class="cl"></div>
				<p><strike>$1.29</strike></p>
			</div>
		</li>
	</ul>																		
</div>						
<div class="cl"></div>
<div class="jcarousel-control">
	<a title="Slide 1" href="#">1</a>
	<a title="Slide 2" href="#">2</a>
	<a title="Slide 3" href="#">3</a>
	<a title="Slide 4" href="#">4</a>
	<a title="Slide 5" href="#">5</a>									 
</div>						
